/* 
* Color management.
*
* These were derived from https://unifyned.com/colors.html by Chris Kruining
* by way of https://web.dev/building-a-color-scheme/ by Adam Argyle
*/

:root {
  color-scheme: dark light;

  /*=============== KNOBS ================*/
  --accent-offset: 30;
  --surface-shadow: var(--hue) 10% 20%;
  --shadow-strength: 0.02;

  --saturation-bias: 0;
  --saturation-value: 0.5;
  --saturation: calc(var(--saturation-value) + var(--saturation-bias));

  --lightness-bias: 0;
  --lightness-value: 0.5;
  --lightness: calc(var(--lightness-value) + var(--lightness-bias));

  /*=============== INFO =================*/
  --info-hue: 203;
  --info-saturation-bias: 0;
  --info-lightness-bias: 0;

  --info-hsl: var(--info-hue)
    calc(100% * (var(--saturation) + var(--info-saturation-bias)))
    calc(100% * (var(--lightness) + var(--info-lightness-bias)));
  --info: hsl(var(--info-hsl));

  /*============== SUCCESS ================*/
  --success-hue: 120;
  --success-saturation-bias: 0;
  --success-lightness-bias: 0;

  --success-hsl: var(--success-hue)
    calc(100% * (var(--saturation) + var(--success-saturation-bias)))
    calc(100% * (var(--lightness) + var(--success-lightness-bias)));
  --success: hsl(var(--success-hsl));

  /*============== WARNING ================*/
  --warning-hue: 40;
  --warning-saturation-bias: 0;
  --warning-lightness-bias: 0;

  --warning-hsl: var(--warning-hue)
    calc(100% * (var(--saturation) + var(--warning-saturation-bias)))
    calc(100% * (var(--lightness) + var(--warning-lightness-bias)));
  --warning: hsl(var(--warning-hsl));

  /*============== FAILURE ================*/
  --failure-hue: 2;
  --failure-saturation-bias: 0;
  --failure-lightness-bias: 0;

  --failure-hsl: var(--failure-hue)
    calc(100% * (var(--saturation) + var(--failure-saturation-bias)))
    calc(100% * (var(--lightness) + var(--failure-lightness-bias)));
  --failure: hsl(var(--failure-hsl));

  /*================ BRAND =================*/
  --hue: 196;
  --light-saturation: 0.66;
  --dark-saturation: calc(var(--light-saturation) * 0.6);
  --light-lightness: 0.57;
  --dark-lightness: calc(var(--light-saturation) * 0.75);

  --brand-hsl: var(--hue) calc(100% * var(--saturation))
    calc(100% * var(--lightness));

  --brand: hsl(var(--brand-hsl));

  /*============ PRIMARY ACCENT ==============*/
  --primary-hue: calc(var(--hue) + 180 + var(--accent-offset));

  --primary-fg-hsl: calc(var(--primary-hue) + 180)
    calc(100% * var(--saturation)) calc(100% * var(--lightness));
  --primary-bg-hsl: var(--primary-hue) calc(100% * var(--saturation))
    calc(100% * var(--lightness));

  --primary-fg: hsl(var(--primary-fg-hsl));
  --primary-bg: hsl(var(--primary-bg-hsl));

  /*=========== SECONDARY ACCENT =============*/
  --secondary-hue: calc(var(--hue) + 180 - var(--accent-offset));

  --secondary-fg-hsl: calc(var(--secondary-hue) + 180)
    calc(100% * var(--saturation)) calc(100% * var(--lightness));
  --secondary-bg-hsl: var(--secondary-hue) calc(100% * var(--saturation))
    calc(100% * var(--lightness));

  --secondary-fg: hsl(var(--secondary-fg-hsl));
  --secondary-bg: hsl(var(--secondary-bg-hsl));

  /*================= TEXT =================*/
  --text-saturation: 0.2;
  --text-bias: 0;
  --light-text-lightness: 0.1;
  --light-text-factor: 1;
  --dark-text-lightness: 0.9;
  --dark-text-factor: -1;

  --text1-hsl: var(--hue) calc(100% * var(--text-saturation))
    calc(
      100% *
        (
          var(--text-lightness) + (0 * var(--text-factor) * 0.2) -
            (var(--text-factor) * var(--text-bias))
        )
    );
  --text2-hsl: var(--hue) calc(100% * (var(--text-saturation) / 2))
    calc(
      100% *
        (
          var(--text-lightness) + (1 * var(--text-factor) * 0.2) -
            (var(--text-factor) * var(--text-bias))
        )
    );

  --text1: hsl(var(--text1-hsl));
  --text2: hsl(var(--text2-hsl));

  /*=============== SURFACES ================*/
  --surfaces-saturation: 0.1;
  --surfaces-bias: 0;
  --light-surfaces-lightness: 0.95;
  --light-surfaces-factor: 1;
  --dark-surfaces-lightness: 0.1;
  --dark-surfaces-factor: -1;

  --surface1-hsl: var(--hue) calc(100% * var(--surfaces-saturation))
    calc(
      100% *
        (
          var(--surfaces-lightness) - (var(--surfaces-factor) * 0) +
            (var(--surfaces-factor) * var(--surfaces-bias))
        )
    );
  --surface2-hsl: var(--hue) calc(100% * var(--surfaces-saturation))
    calc(
      100% *
        (
          var(--surfaces-lightness) - (var(--surfaces-factor) * 0.05) +
            (var(--surfaces-factor) * var(--surfaces-bias))
        )
    );
  --surface3-hsl: var(--hue) calc(100% * var(--surfaces-saturation))
    calc(
      100% *
        (
          var(--surfaces-lightness) - (var(--surfaces-factor) * 0.1) +
            (var(--surfaces-factor) * var(--surfaces-bias))
        )
    );
  --surface4-hsl: var(--hue) calc(100% * var(--surfaces-saturation))
    calc(
      100% *
        (
          var(--surfaces-lightness) - (var(--surfaces-factor) * 0.15) +
            (var(--surfaces-factor) * var(--surfaces-bias))
        )
    );

  --surface1: hsl(var(--surface1-hsl));
  --surface2: hsl(var(--surface2-hsl));
  --surface3: hsl(var(--surface3-hsl));
  --surface4: hsl(var(--surface4-hsl));
}

@media screen and (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --saturation-value: var(--light-saturation);
    --lightness-value: var(--light-saturation);

    --text-factor: var(--light-text-factor);
    --text-lightness: var(--light-text-lightness);

    --surfaces-factor: var(--light-surfaces-factor);
    --surfaces-lightness: var(--light-surfaces-lightness);

    --surface-shadow: var(--hue) 10% 20%;
    --shadow-strength: 0.02;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --saturation-value: var(--dark-saturation);
    --lightness-value: var(--dark-saturation);

    --text-factor: var(--dark-text-factor);
    --text-lightness: var(--dark-text-lightness);

    --surfaces-factor: var(--dark-surfaces-factor);
    --surfaces-lightness: var(--dark-surfaces-lightness);

    --surface-shadow: var(--hue) 50% 3%;
    --shadow-strength: 0.8;
  }
}

html[color-scheme="light"] {
  color-scheme: light;

  --saturation-value: var(--light-saturation);
  --lightness-value: var(--light-saturation);

  --text-factor: var(--light-text-factor);
  --text-lightness: var(--light-text-lightness);

  --surfaces-factor: var(--light-surfaces-factor);
  --surfaces-lightness: var(--light-surfaces-lightness);

  --surface-shadow: var(--hue) 10% 20%;
  --shadow-strength: 0.02;
}

html[color-scheme="dark"] {
  color-scheme: dark;

  --saturation-value: var(--dark-saturation);
  --lightness-value: var(--dark-saturation);

  --text-factor: var(--dark-text-factor);
  --text-lightness: var(--dark-text-lightness);

  --surfaces-factor: var(--dark-surfaces-factor);
  --surfaces-lightness: var(--dark-surfaces-lightness);

  --surface-shadow: var(--hue) 50% 3%;
  --shadow-strength: 0.8;
}

@media screen and (prefers-contrast: more) {
  :root {
    --text-bias: 1;
    --surfaces-bias: 1;
    --saturation-bias: 1;
  }
}

@media screen and (prefers-contrast: less) {
  :root {
    --text-bias: -0.1;
    --surfaces-bias: -0.05;
    --saturation-bias: -0.05;
  }
}

html[contrast="more"] {
  --text-bias: 0.05;
  --surfaces-bias: 0.05;
  --saturation-bias: 0.05;
}

html[contrast="less"] {
  --text-bias: -0.1;
  --surfaces-bias: -0.05;
  --saturation-bias: -0.05;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  background-color: var(--surface1);
  color: var(--text1);
  accent-color: var(--brand);
}

.info {
  color: var(--text1);
  background-color: var(--info);
}

.success {
  color: var(--text1);
  background-color: var(--success);
}

.warning {
  color: var(--text1);
  background-color: var(--warning);
}

.failure {
  color: var(--text1);
  background-color: var(--failure);
}

.brand {
  color: var(--text1);
  background-color: var(--brand);
}

.primary {
  color: var(--primary-fg);
  background-color: var(--primary-bg);
}

.secondary {
  color: var(--secondary-fg);
  background-color: var(--secondary-bg);
}

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

.text1 {
  color: var(--text1);
}

.text2 {
  color: var(--text2);
}

.rad-shadow {
  box-shadow:
    0 2.8px 2.2px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 6.7px 5.3px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
