div.Cue {
  display: flex;
  flex-wrap: wrap;
}

.Cue textarea {
  box-sizing: border-box;
  width: 100%;
  flex-basis: 100%;
  height: 15em;
}

.Cue details {
  flex-basis: 100%;
  width: 100%;
}

.CueList details summary h3 label {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 80%;
}
