body.designing {
  display: grid;
  grid-template-rows: 2.5em 50% auto;
  grid-template-columns: 50% 50%;
}

body.designing div#UI {
  font-size: 0.7vw;
  flex: 1 1 0;
}

div#designer {
  display: none;
}

div#tabs {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 0;
}

body.designing div#designer {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
}
body.designing #UI {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  position: relative;
}
body.designing #monitor {
  grid-row-start: 3;
  grid-column-start: 1;
}

#designer ol,
#designer ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 1em;
  border-left: 1px solid #d0d0d0;
}

#designer .panels ol li:not(:last-of-type),
#designer .panels ul li:not(:last-of-type) {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 5px;
}

#designer details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

#designer details[open] {
  border: 1px solid black;
  margin-left: 1em;
}

#designer details[open] summary {
  margin-left: -1em;
}

#designer details summary h3 {
  font-weight: 500;
}

#designer details label {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

#designer .settings {
  background-color: var(--surface2);
  color: var(--text2);
  border: 0px;
  box-shadow: none;
}

#designer .settings:has([aria-selected="true"]),
#designer .settings[aria-selected="true"] {
  background-color: var(--surface1);
  color: var(--text1);
  border: 4px dashed var(--brand);
}
#designer .settings:has(.settings [aria-selected="true"]) {
  background-color: var(--surface2);
  color: var(--text2);
  border: 0px;
  box-shadow: none;
}

#designer :focus {
  outline: var(--text2) 4px dashed;
}

#designer .indicator {
  color: var(--brand);
}

#designer .panels {
  display: block;
}

.selectedInDesigner {
  border: 2px dashed red;
}

#UI [id]:has(.selectedInDesigner) {
  border: 2px dotted yellow;
}
