.display {
  border: 1px solid black;
  padding: 0.25em;
  box-sizing: border-box;
  font-size: 200%;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
  user-select: text;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
  display: flex;
  width: 100%;
  height: 100%;
  white-space: pre-line;
}

.display button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  text-align: left;
}

.display button:disabled {
  color: var(--text1);
}

.display span.caret {
  display: inline-block;
  width: 2px;
  margin-right: -2px;
  height: 0.8lh;
  background-color: red;
  animation: blinker 1s linear infinite;
  vertical-align: text-bottom;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
