  div.layout {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
  }

  .layout ol {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 1em;
    border-left: 1px solid #d0d0d0;
  }

  .layout details {
    display: inline-block;
  }

  div.empty {
    background-color: rgba(15, 15, 15, 0.3);
    justify-content: center;
    align-items: center;
  }

  div.empty::before {
    content: "Empty";
  }

  div.highlight {
    border: 1px solid red;
    box-sizing: border-box;
  }
