div.empty {
  background-color: rgba(15, 15, 15, 0.3);
  justify-content: center;
  align-items: center;
}

div.empty::before {
  content: "Empty";
}

div.highlight {
  border: 2px dashed red;
}

div.highlight.highlightParent {
  border: 2px dashed blue;
}
