div.logging-indicator {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

div.logging-indicator[logging] {
  background: var(--warning);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.settings details.Logger textarea {
  width: 97%;
}

.settings details.Logger {
  width: 100%;
}

.settings div.labeledInput:has(textarea) {
  width: 100%;
}
