.Menu {
  display: inline-block;
}
.Menu [hidden] {
  display: none;
}
.Menu > button {
  display: inline-block;
  position: relative;
  border-radius: 0.5em;
  margin-right: 0.3em;
}
.Menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 7px 4px;
  border: 2px solid 0x034575;
  background-color: var(--surface2);
  z-index: 100;
}
.Menu li {
  margin: 2px;
  display: flex;
}
.Menu li :has(button[aria-disabled="true"]) {
  opacity: 0.5;
}
.Menu li[divider] {
  border-top: 1px solid black;
}
.Menu li button {
  flex: 1;
  border: 0;
  padding: 2px;
  background-color: inherit;
  width: 100% !important;
  border-radius: 0;
}
.Menu li button:hover {
  outline: 2px dotted var(--brand);
}
.Menu li button[aria-disabled="true"] {
  opacity: 0.5;
}
