.Menu {
  display: inline-block;
}
.Menu [hidden] {
  display: none;
}
.Menu > button {
  display: inline-block;
  position: relative;
}
.Menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 7px 4px;
  border: 2px solid 0x034575;
  background-color: #eee;
  z-index: 100;
}
.Menu li {
  margin: 2px;
  display: flex;
  background-color: #eee;
}
.Menu li button {
  flex: 1;
  border: 0;
  padding: 2px;
}
.Menu li[role="separator"] {
  text-align: center;
  text-decoration: underline overline;
}
.Menu hr {
  width: 100%;
  height: 4px;
  background-color: black;
}
.Menu li button:hover {
  outline: 2px solid orange;
}
