div.labeledInput {
  display: inline-block;
}
div.labeledInput:has(code-input) {
  display: block;
  width: calc(100% - 16px);
}
label[hiddenLabel] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
select:required:invalid {
  color: gray;
  border-color: red;
}
input[inputmode="numeric"] {
  width: 3em;
}
input[inputmode="numeric"]:invalid {
  color: red;
  border-color: red;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
