.radio {
  display: flex;
  width: 100%;
  height: 100%;
}

.radio fieldset {
  flex-flow: wrap;
  border: 0;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  gap: 1%;
}

.radio button {
  min-width: 45%;
  max-width: 45%;
}

.settings .Radio table.RadioOptions {
  width: 100%;
}
.settings .Radio table.RadioOptions tr {
  width: 100%;
}
.settings .Radio table.RadioOptions td:nth-child(2) {
  width: 30%;
}

.settings .Radio table.RadioOptions label.labeledInput {
  width: 100% !important;
}

.settings .Radio table.RadioOptions input {
  width: 100% !important;
}
