  color-input {
    margin-right: 1em;
    align-items: center;
  }

  color-input input {
    flex: 1 1 0;
    margin-right: 0.2em;
  }

  color-input .swatch {
    width: 1em;
    height: 1em;
    display: inline-block;
    border: 1px solid black;
    vertical-align: middle;
  }
  color-input input:invalid {
    background-color: #fcc;
    border-color: red;
  }
