.tabcontrol {
  display: flex;
  width: 100%;
  height: 100%;
}
.tabcontrol .buttons button:focus {
  background-color: var(--surface2);
}
.tabcontrol .panels {
  display: flex;
}
.tabcontrol .buttons {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0 !important;
  flex-direction: row;
}
.tabcontrol .buttons li {
  flex: 1 1 0;
  display: flex;
}
.tabcontrol .buttons button {
  flex: 1 1 0;
  background-color: var(--surface2);
  color: var(--text2);
}
.tabcontrol .buttons button[active] {
  font-weight: bold;
  background-color: var(--surface1);
  color: var(--text1);
}

.tabcontrol.top {
  flex-direction: column;
}
.tabcontrol.top .panels {
  order: 2;
}
.tabcontrol.top .buttons {
  order: 1;
}
.tabcontrol.top .buttons button[active] {
  border-bottom: 1px;
  margin-top: 0px;
}
.tabcontrol.top .buttons button {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: 10px;
}

.tabcontrol.bottom {
  flex-direction: column;
}
.tabcontrol.bottom .panels {
  order: 1;
}
.tabcontrol.bottom .buttons {
  order: 2;
}
.tabcontrol.bottom .buttons button[active] {
  border-top: 1px;
  margin-bottom: 0px;
}
.tabcontrol.bottom .buttons button {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-bottom: 10px;
}

.tabcontrol.right {
  flex-direction: row;
}
.tabcontrol.right .panels {
  order: 1;
}
.tabcontrol.right .buttons {
  order: 2;
  flex-direction: column;
}
.tabcontrol.right .buttons button[active] {
  border-left: 1px;
  margin-right: 0;
}
.tabcontrol.right .buttons button {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-right: 10px;
}

.tabcontrol.left {
  flex-direction: row;
}
.tabcontrol.left .panels {
  order: 2;
  flex: 1;
}
.tabcontrol.left .buttons {
  order: 1;
  flex-direction: column;
  flex: 1;
}
.tabcontrol.left .buttons button[active] {
  border-right: 1px;
  margin-left: 0;
}
.tabcontrol.left .buttons button {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-left: 10px;
}

.tabcontrol.none .buttons {
  display: none;
}
