.toolbar {
  padding: 3px;
  margin: 3px;
  border-radius: 0.5em;
}
.toolbar ul {
  list-style: none;
  padding-inline-start: 1em;
}
.toolbar ul li {
  display: inline;
}
.toolbar button {
  border-radius: 0.5em;
  color: var(--text2);
  background-color: var(--surface2);
}
.toolbar input {
  border-radius: 0.5em;
}

div.hinted {
  display: inline-block;
  position: relative;
}
div.hinted span {
  top: 80%;
  left: 50%;
  font-size: 1.5em;
  padding: 0.2em;
  transform: translateX(-50%);
  position: absolute;
  background-color: var(--text1);
  color: var(--surface1);
  display: none;
}
.hints div.hinted span {
  display: inline;
}
