div.vsd {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

div.vsd button {
  position: absolute;
  background-color: transparent;
  box-shadow: 0 0 0 1px white, 0 0 0 2px red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.vsd button[invisible] {
  box-shadow: none;
  outline: none;
  border: none;
}

div.vsd img,
div.vsd video {
  flex: 1 1 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

div.vsd div.markers button:focus-within {
  opacity: 1;
}
div.vsd button span {
  background-color: white;
}
div.vsd div.markers button {
  opacity: 0;
}
div.vsd.show div.markers button {
  opacity: 1;
}

span.coords {
  background-color: var(--surface1);
  color: var(--text1);
  display: none;
}
.designing span.coords {
  display: inline-block;
}
