body {
  font-size: 1vw;
  overflow: hidden;
  background-color: white;
}

button {
  font-size: inherit;
}

body {
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

body.loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

div#UI {
  width: 100%;
  height: 100%;
}

body.designing {
  display: flex;
}

body.designing div#UI {
  height: 75%;
  width: 75%;
  font-size: 1vw;
  flex: 2 1 0;
}

div#designer {
  display: none;
}

body.designing div#designer {
  display: block;
  overflow-y: auto;
  flex: 1 1 0;
}

div#designer ul {
  list-style: none;
  padding-left: 1em;
  border-left: 1px solid black;
  margin-top: 0;
}

div#designer li ul {
  padding-left: 1em;
}

div#designer .highlight details {
  background-color: white;
}

div#designer details.highlight > summary {
  background-color: lightblue;
}

div#designer details[open] table {
  padding-left: 1em;
  width: 100%;
}

div#designer button.edit {
  border: none;
  padding: 0;
  background: none;
}

div#designer button.edit::after {
  content: "\1F589";
}

div#designer div.controls {
  border: 1px solid black;
  margin-left: 2em;
}
