div.actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

div.actions div.scroll {
  overflow-y: auto;
}

.actions table {
  border-collapse: collapse;
  width: 100%;
}

.actions tr[used] {
  font-weight: bold;
}

.actions td {
  border-left: 1px solid #999;
  padding: 0.2em;
}

.actions th {
  border: 1px solid #999;
  border-top: 0px;
  padding: 0.5em;
}

.actions td.conditions {
  overflow-wrap: anywhere;
}

.actions div.condition + div.condition {
  margin-top: 0.2em;
}

.actions div.condition div.labeledInput {
  width: 100%;
}

.actions td.update div.labeledInput {
  width: 100%;
}

.actions td.update {
  overflow-wrap: anywhere;
}

.actions thead tr {
  background: white;
}

#designer .actions tbody {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  position: relative;
  z-index: 10;
}
.actions thead {
  border-top: 0px;
}

#designer .actions tbody[highlight] {
  background-color: var(--secondary-fg);
}

.actions .updates {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.25em 1em;
}

.actions input {
  width: 100%;
  box-sizing: border-box;
}

.actions label {
  width: 100%;
}
