.display {
  border: 1px solid black;
  padding: 0.25em;
  box-sizing: border-box;
  font-size: 200%;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
  user-select: text;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
  display: flex;
  width: 100%;
  height: 100%;
}

.display button {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.display button:disabled {
  color: var(--text1);
}
