.grid {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100%;
  width: 100%;
}

.grid button {
  overflow-wrap: normal;
  overflow: hidden;
  border-radius: 5px;
  background-color: inherit;
  user-select: none;
}
.grid button div {
  display: flex;
  height: 100%;
  pointer-events: none;
}
.grid button figure {
  margin: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  justify-content: center;
}
body:not(.designing) img[dbsrc]:not([src]),
body:not(.designing) video[dbsrc]:not([src]) {
  display: none;
}
.grid button figure figcaption {
  width: 100%;
}
.grid button figure img,
.grid button figure video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  min-height: 0;
}
.grid b {
  color: blue;
}
.grid .page-control {
  display: flex;
  flex-direction: column;
}
.grid .page-control .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid .page-control .back-next {
  display: flex;
  flex: 1 1 0;
}
.grid .page-control .back-next button {
  flex: 1 1 0;
}

#designer .Grid td label {
  margin-left: 0;
  margin-bottom: 0;
}

#designer .Grid th {
  font-weight: normal;
}
