div.empty {
  background-color: rgba(15, 15, 15, 0.3);
  justify-content: center;
  align-items: center;
}

div.page.empty::before {
  font-size: 2em;
  content: "To learn about OS-DPI use the Help menu on the right.";
}

div.empty::before {
  content: "Empty";
}

body.designing #UI [highlight="component"] {
  border: 2px dashed red;
}

body.designing #UI [highlight="parent"] {
  border: 2px dotted red;
}
