.Menu {
  display: inline-block;
}
.Menu [hidden] {
  display: none;
}
.Menu > button {
  display: inline-block;
  position: relative;
  border-radius: 0.5em;
  margin-right: 0.3em;
}
.Menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 7px 4px;
  background-color: var(--surface2);
  z-index: 100;
  width: 8em;
  border: 1px solid var(--brand);
  left: 50%;
  transform: translate(-50%, 0%);
}
.Menu li {
  margin: 2px;
  display: flex;
}
.Menu li :has(button[aria-disabled="true"]) {
  opacity: 0.5;
}
.Menu li[divider] {
  position: relative;
}
.Menu li[divider]::before {
  content: attr(divider);
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;
  border-top: 1px solid var(--text1);
  border-bottom: 1px solid var(--text1);
  background-color: var(--surface2);
  margin-bottom: 0.5em;
}
.Menu li button {
  flex: 1;
  border: 0;
  padding: 2px;
  background-color: inherit;
  width: 100% !important;
  border-radius: 0;
}
.Menu li button:hover {
  outline: 2px dotted var(--brand);
}
.Menu li button[aria-disabled="true"] {
  opacity: 0.5;
}
