  #monitor {
    margin-top: 1em;
    margin-left: 1em;
  }

  #monitor div {
    display: flex;
    height: 100%;
    overflow-y: auto;
    font-size: 75%;
    margin-top: 0.2em;
  }

  #monitor table {
    border-collapse: collapse;
    border: 1px solid black;
    height: max-content;
    margin-right: 1em;
  }

  #monitor table td,
  #monitor table th {
    border: 1px solid black;
    padding: 0.5em;
  }
