div.access-pattern {
  padding-left: 12px;
  padding-top: 12px;
}
.access-pattern .GroupBy details {
  display: inline-block;
  vertical-align: middle;
}
.access-pattern .GroupBy details[open] {
  display: inline-block;
  border: ridge;
  padding: 0.5em;
}
.access-pattern .GroupBy details summary {
  list-style: none;
  cursor: pointer;
  width: 1em;
  height: 1em;
  border: outset;
  vertical-align: middle;
}
.access-pattern .GroupBy details[open] summary {
  margin-left: calc(100% - 1em);
  margin-bottom: 0.2em;
  margin-top: -0.2em;
}

details.PatternManager summary h3 label {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 80%;
}
