  .suggest {
    position: relative;
    display: inline-block;
    font-family: monospace;
  }

  .suggest input {
    width: 100%;
  }

  .suggest div {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
  }

  .suggest div:empty {
    display: none;
  }

  .suggest ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }

  .suggest li[selected] {
    background-color: #ccc;
  }

  .suggest input {
    font-family: monospace;
    font-size: 15px;
  }
