  .movement {
    margin-top: 0.5em;
  }
  .movement button {
  }
  button svg {
    object-fit: contain;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin: -4px;
  }
  .access button {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
    border: outset;
  }
  .access fieldset {
    margin-bottom: 0.5em;
  }
  .access ol {
    padding-inline-start: 10px;
  }
  .access ul {
    padding-inline-start: 10px;
  }
