#welcome {
  padding: 1em;
}
#welcome #head {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#welcome #head div {
  padding-left: 1em;
}
#welcome #logo {
  width: 100px;
  height: 100px;
  background-image: url("./icon.png");
  background-size: contain;
}
#welcome #head div p {
  max-width: 40em;
}
#timer {
  position: absolute;
  left: 0;
  top: 0;
  width: 5em;
  padding: 0.5em;
  z-index: 10;
}
